.container {
  width: min(45rem, 100%);
  margin: 0 auto;
  padding: 0 1rem;
}

.details {
  span {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-300);

    &:not(:first-of-type) {
      margin-left: 1.5rem;
    }
  }

  p {
    color: var(--gray-300);
    margin-top: 1rem;
    font-style: italic;
    font-size: 0.875rem;
  }
}
