* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --pink-500: #FF57B2; /* highlight */
  --white-100: #F8F8F8; /* heading */
  --black-800: #1A1D23; /* background */
  --gray-300: #BBBBBB; /* info */
  --gray-200: #D7D7D7; /* body */
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--black-800);
  color: var(--gray-200);
}
