.postWrapper {
  display: block;

  & + .postWrapper {
    margin-top: 3rem;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.buttonLoadMorePosts {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--pink-500);
  margin-top: 4rem;
  background: none;
  border: 0;
  cursor: pointer;
}
